@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    background: rgb(222,227,227);
    background: -moz-radial-gradient(circle, rgba(222,227,227,1) 50%, rgba(249,252,252,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(222,227,227,1) 50%, rgba(249,252,252,1) 100%);
    background: radial-gradient(circle, rgba(222,227,227,1) 50%, rgba(249,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dee3e3",endColorstr="#f9fcfc",GradientType=1);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(255,255,255,1);
    box-shadow: 1px 1px 10px 0px rgba(255,255,255,1);
    border-radius: 5px;

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.input{
    border: none;
    background-color: lightgrey;
    width: 80%;
    height: 40px;
    border-radius: 3px;
    margin: 10px 0;
    padding-left: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    font-family: 'Nunito', sans-serif;

}
.input::placeholder{
    color: grey;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif, FontAwesome;
}
.input:focus{
    outline: none;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);
    -moz-box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);
    box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);

}
.input:hover{
    -webkit-box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);
    -moz-box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);
    box-shadow: 5px 5px 17px 0px rgba(211,211,211,1);
}
.checkbox{
    display: block;
    margin-top: 10px;
    margin-left: -165px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
.check{
    vertical-align: center;
}
.submit{
    background-color: #F59121;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px 0;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(245,145,33,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(245,145,33,1);
    box-shadow: 1px 1px 5px 0px rgba(245,145,33,1);
    transition: 0.3s ease-in-out;
}
.submit2{
    background-color: #F3EBE1;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    color: #F59121;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.submit:hover, .submit2:hover{
    width: 75%;
}
